<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Garage Door Web server</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<center>
<body>
	<h1>Garage Door Web server</h1>
	{% for door in doors %}
	<h2>{{ doors[door].name }}<br>{{door}}<br>{{doors[door]}}<br>
	{% if doors[door].state == "open" %} is currently <strong>Open</strong></h2><div class="row"><div class="col-md-2"> <a href="{{door}}/close" class="w3-button w3-blue" role="button">Close Door</a></div></div>
	{% else %} is currently <strong>Closed</strong></h2><div class="row"><div class="col-md-2"> <a href="{{door}}/open" class="w3-button w3-black" role="button">Open Door</a></div></div>
	{% endif %}
	{% endfor %}
</body>
</center>
</html>